:root{
    --Indonesian-color: #7cc908;
    --Mathmatic: #1EC2EB;
    --English: #B010E1;
}
.card-container{
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    margin-left: 1%;
    transition: all 0.3s ease;
    background-color: white;
    box-shadow: 3px 4px 6px rgba(68, 3, 51, 0.3);
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    align-items: center;
    max-width: 1080px;
    width: 69%;
}
.card-container .card-Indonesian{
    width: 220px;
    padding: 10px;
    height: 110px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(103, 151, 0, 0.2);
    text-align: left;
    background-color: var(--Indonesian-color);
    color: #FFFF;
}
.card-container .card-Matematika{
    width: 220px;
    padding: 10px;
    height: 110px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 75, 151, 0.2);
    text-align: left;
    background-color: var(--Mathmatic);
    color: #FFFF;
}
.card-container .card-English{
    width: 220px;
    padding: 10px;
    height: 110px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(132, 1, 127, 0.2);
    text-align: left;
    background-color: var(--English);
    color: #FFFF;
}
.card-container p{
    font-size: 12px;
}